@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&family=Mochiy+Pop+P+One&display=swap');

body {
    background: white;
    margin: 0;
}


.container {
    padding: 20px;
}

.container hr {
    margin: 10px;
    background: #7FE3CA;;
    border: 3px solid #7FE3CA;
    border-radius: 3px;
}

.stock-info-container {
    display: grid;
    grid-template-columns: .1fr 1fr;
    grid-template-areas: 
        "stock-logo stock-symbol"
        "stock-logo stock-name"
}

.stock-symbol {
    grid-area: stock-symbol;

}

.stock-info-container h1, h2 {
    padding-left: 10px;
}

.stock-name {
    grid-area: stock-name;
    font-size: 16px;
    font-weight: 500;
    color: #3c3d41;
}

.price {
    display: grid;
    padding-top: 15px;
    grid-template-columns: .1fr 1fr;
    grid-column-gap: 20px;
    grid-template-areas:
        "current-price current-change"
        "closed-time closed-time";
}

.current-price {
    grid-area: current-price;

}

.current-change {
    grid-area: current-change;
    padding-top: 4px;

}

.closed-time {
    grid-area: closed-time;
}


.profile-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    grid-template-areas:
        "profile info-container"
}

.profile {
    grid-area: profile;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    /* width: calc(100% / 1 - 15px); */
    padding: 15px 14px;
}

.info-container {
    grid-area: info-container;
    padding: 2rem 7%;

}

.interpretation {
    font-size: 14px;
    text-align: left;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgb(0 0 0 / 10%);
    padding: 2% 3%;
}

.stock-profile p {
    font-size: 15px;
    font-weight: 400;
    word-spacing: 5px;
}

.info-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 20px;
    margin-bottom: 26px;
}

.info-content .box {
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% / 2 - 15px);
    background: #fff;
    padding: 15px 14px;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgb(0 0 0 / 10%);
}

.info-content .box1 {
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% / 1 - 15px);
    background: #fff;
    padding: 15px 14px;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgb(0 0 0 / 10%);
}

.profile-wrapper .box1 .number {
    display: inline-block;
    font-size: 25px;
    margin-top: -6px;
    font-weight: 500;
}


.info-content .box-topic {
    font-size: 20px;
    font-weight: 500;
}

.profile-wrapper .box .number {
    display: inline-block;
    font-size: 25px;
    margin-top: -6px;
    font-weight: 500;
}

.profile-wrapper .box .bx {
    display: inline-block;
    font-size: 32px;
    height: 50px;
    width: 50px;
    background: #cce5ff;
    line-height: 50px;
    text-align: center;
    color: #66b0ff;
    border-radius: 12px;
    margin: -15px 0 0 6px;
}

.profile-wrapper .box .two {
    color: #2BD47D;
    background: #C0F2D8;
}

.profile-wrapper .box .three {
    color: #ffc233;
    background: #ffe8b3;
}

.profile-wrapper .box .four {
    color: #e05260;
    background: #f7d4d7
}

.profile-wrapper .box1 .bx {
    display: inline-block;
    font-size: 32px;
    height: 50px;
    width: 50px;
    background: #f5d4f7;
    line-height: 50px;
    text-align: center;
    color: #a552e0;
    border-radius: 12px;
    margin: -15px 0 0 6px;
}

.chart-wrapper {
    padding-top: 10px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 10px;
    grid-template-areas:
        "chart chart"
}

.chart {
    grid-area: chart;
}


.change {
    background: #fff;
    padding: 20px 30px;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgb(0 0 0 / 10%);
}

.stock-logo {
    grid-area: stock-logo;
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

.img {
    padding: 10px;
    background: #FFD365;
    width: 70px;
    height: 70px;
    border-radius: 60px;
}

.layer1 img {
    padding: 10px;
    border-radius: 10px;
    height: 100%;
    width: 100%;
}

.layer2 img {
    height: 100%;
    width: 60%;
}


.charts {
    display: flex;
    flex-wrap: wrap;

}
.charts input[type="radio"] {
    display: none;
}
.charts label {
    margin-right: 10px;
    padding: 5px;
    background: #e2e2e2;
    font-weight: bold;
}

.charts .tab {
    width: 100%;
    order: 1;
    display: none;
}

.charts input[type='radio']:checked + label + .tab {
    display: block;
}

.charts input[type="radio"]:checked + label {
    background: #85C88A;
}

.intervals {
    display: flex;
    flex-wrap: wrap;

}

.intervals input[type="radio"] {
    display: none;
}

.intervals label {
    padding: 5px;
    background: #e2e2e2;
    font-weight: bold;
}

.intervals .tab {
    width: 100%;
    order: 1;
    display: none;
}

.intervals input[type='radio']:checked + label + .tab {
    display: block;
}

.intervals input[type="radio"]:checked + label {
    background: #85C88A;
}

.tableFixHead {
    overflow-y: auto;
    height: 100vh;
}

.tableFixHead thead th {
    position: sticky;
    text-align: center;
    top: 0;
}
table {
    border-collapse: collapse;
    width: 100%;
}
th,
td {
    text-align: center;
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

th {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 0px solid #dee2e6;
    text-align: center;
    font-weight: 500;
    border-bottom: 2px solid #dee2e6;
    font-size: 18px;
    color: #333;
}

.seven {
    background: #fff;
    padding: 20px 30px;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgb(0 0 0 / 10%);
}


.seven p {
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}
#historicaldata th {
    background: #38A3A5;
    color:white;
    text-align: center;
}


.prediction-wrapper {
    margin: 0 1rem 0 1rem;
    position: relative;
    background: linear-gradient(98.94deg, #00C897 -1.06%, #019267 103.55%);
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "layer1"
        "layer2";
}

.layer1 {
    position: relative;
    padding: 15px;
    grid-area: layer1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-template-areas:
        "wrapper-24hr wrapper-1mo wrapper-3mo"
}

.wrapper-24hr {
    text-align: center;
    grid-area: wrapper-24hr;
}

.wrapper-1mo {
    text-align: center;
    grid-area: wrapper-1mo;

}

.wrapper-3mo {
    text-align: center;
    grid-area: wrapper-3mo;
}


.layer2 {
    position: relative;
    padding: 15px;
    grid-area: layer2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    grid-template-areas:
        "wrapper-6mo wrapper-1yr"
}

.wrapper-6mo {
    text-align: center;
    grid-area: wrapper-6mo;

}

.wrapper-1yr {
    text-align: center;
    grid-area: wrapper-1yr;

}

.card {
    padding: 5px;
    background: #BFF1E5;
    border-radius: 5px;
}

.card-header {
    background: #2c3a47;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding: 20px;
}

.pic {
    width: 100%;

}

.card-footer {
    background: #f4f4f4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.item {
    flex: 1;
    text-transform: uppercase;
    font-size: 13px;
    color: #e66767;
}

.item span {
    display: block;
    color: #2c3a47;
        height: 1.3rem;
}

.numbers {
    display: flex;
    align-items: center;
}

.border {
    width: 1px;
    height: 30px;
    background: #bbb;
}


.slider-wrap {
    grid-area: slider-wrap;
    position: relative;
    overflow: hidden;
    height: 120px;
    text-align: center;
}


.item {
    margin: 5px;
}

.text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.slider-btn:hover {
    background: white;
    color: red;
}

.container-fluid {
    display: grid;
    grid-template-columns: .2fr .8fr .2fr;
    grid-template-areas:
        "slider-btn-next slider-wrap slider-btn-prev"
}


.slider-btn-next {
    border-radius: 60px;
    margin: 60px;
}

.slider-btn-prev {
    border-radius: 60px;
    margin: 60px;
}

.ideas-container {
    padding: 5px;

}

.ideas-content {
    height:100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
}

.ideas-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 10px;
    background: rgb(255, 255, 255);
    border-radius: 15px;
    grid-template-areas: 
        "user user date"
        "ideas-img ideas-img ideas-img"
        "idea idea idea"

}

.user {
    grid-area: user;
    grid-area: user;
    padding: 10px;
    text-align: left;
    font-family: 'Kanit', sans-serif;
}

.date {
    grid-area: date;
    padding: 10px;
    text-align: right;
    font-size: 14px;
}

.ideas-img {
    grid-area: ideas-img;

}

.ideas-card img {
    width: 100%;
    height: 300px;
}

.ideas-card:hover {
    box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
}

.ideas-card a {
    text-decoration: none;
    padding: 0.2rem 0.3rem;
    background: #56b8f9;
    border-radius: 15px;
    /* font-size: .6rem; */
    color: white;
    transition: .5s;
}

.ideas-card a:hover {
    background: #6BCB77;
    border-radius: 0;
}

.ideas-card p {
    padding-top: 1rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.idea {
    grid-area: idea;
    font-size: .8rem;
    margin-bottom: 0.5rem;
}


.stock-profile {
    padding: 10px;
    grid-area: stock-profile;
    background: #6FB2D2;
    border: solid #85C88A 3px;
    border-radius: 20px;
    margin: 3rem 0 3rem 0rem;
}


.random {
    display: flex;
}

.ideas {
    padding: 6rem 7%;
    background: #BFF1E5;
}

.ideas h1 {
    color: white;
    font-size: 40px;
    text-align: center;
    margin-bottom: 25px;

}

.main-who {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-who {
    flex: 1 1 45rem;
}

.inner-who img {
    width: 100%;
    /* padding-left: 6rem; */
    padding: 2rem;
}

.inner-who-content {
    padding: 0 2rem;
}

.inner-who-content p {
    font-size: 1rem;
    margin: 1rem 0;
    margin-bottom: 25px;
    color: white;
    
}


@media (max-width: 1000px) {
    .info-content .box {
        width: calc(100% / 1 - 15px);
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 768px) {

    .profile-wrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 10px;
        grid-template-areas:
            "profile"
            "info-container"
    }
    
    .profile {
        grid-area: profile;
        margin: 15px
    }
    
    .info-container {
        grid-area: info-container;
        margin: 3rem 0 3rem 0rem;
    }

    .layer1 {
        position: relative;
        padding: 15px;
        grid-area: layer1;
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 30px;
        grid-template-areas:
            "wrapper-24hr "
            "wrapper-1mo" 
            "wrapper-3mo"
    }
    
    .wrapper-24hr {
        text-align: center;
        grid-area: wrapper-24hr;
    }
    
    .wrapper-1mo {
        text-align: center;
        grid-area: wrapper-1mo;
    
    }
    
    .wrapper-3mo {
        text-align: center;
        grid-area: wrapper-3mo;
    }

    .layer2 {
        position: relative;
        padding: 15px;
        grid-area: layer2;
        grid-row-gap: 30px;
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 10px;
        grid-template-areas: 
            "wrapper-6mo"
            "wrapper-1yr";
    }
    
    .wrapper-6mo {
        text-align: center;
        grid-area: wrapper-6mo;
    
    }
    
    .wrapper-1yr {
        text-align: center;
        grid-area: wrapper-1yr;
    
    }

    .ideas-content {
        height:100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 15px;
    }

    .ideas-card {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        padding: 10px;
        background: rgb(255, 255, 255);
        border-radius: 15px;
        grid-template-areas:
            "user user date"
            "ideas-img ideas-img ideas-img"
            "idea idea idea";
    }


    .date {
        grid-area: user;
        padding-top: 30px;
        font-size: 12px;
        text-align: left;
    }

    .layer2 img {
        padding: 10px;
        border-radius: 10px;
        height: 100%;
        width: 100%;
    }

    .item {
        width: 25%;
        display: inline-block;
        height: 3rem;
        margin: 4px;
        position: inherit;
    }

    .table th {
        display: none;
    }

    .table, .table tbody, .table tr, .table td {
        display: block;
        width: 100%;
    }

    .table tr {
        margin-bottom: 15px;
    }
    
    .table tbody tr td {
        text-align: right;
        padding-left: 50%;
        position: relative;
    }

    .table td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        text-align: center;
        font-size: 18px;
        font-weight: 500;
        text-align: left
    }

    .main-who {
        flex-wrap: wrap;
    }

    .card-footer {
        background: #f4f4f4;
        display: grid;
        grid-template-columns: 1fr;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .border {
        position: fixed;
    }
}