.container {
    padding: 2rem 7%;
}

h1 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 10px;
}

.main-offer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.inner-offer {
    background: white;
    flex: 1 1 300px;
    padding: 3rem 2rem;
    text-align: center;
    box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
}

.inner-offer img {
    width: 100px;
}

.inner-offer h2 {
    font-size: 20px;
    margin: 1rem 0;
}

.inner-offer p {
    font-size: 16px;
    margin-bottom: 20px;
}

.inner-offer a {
    padding: .5rem;
    background: #6BCB77;
    font-size: 1rem;
    color: white;
    transition: .5s;
}

.inner-offer a:hover {
    background: #4D96FF;
    border-radius: 15px;
    
}

.inner-offer:hover {
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
}