@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&family=Mochiy+Pop+P+One&display=swap');


.container {
    padding: 2rem 7%; 
}

h1 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
}

.align-center {
    text-align: center;
}

.stock-list {
    padding: 1em;
}

.stock-list .card {
    background-color: rgb(176, 84, 84);
    border-radius: 10px;
    padding: 1em;
    box-shadow: 0px 10px 5px #b2bec3;
    text-align: center;
}

.stock-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.card .title {
    font-family: 'Kanit', sans-serif;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: white;
}

.card .symbol {
    text-indent: 20px;
    font-size: 18px;
    margin: 5px;
    text-align: left;
    color: white;
}

.card img {
    background-color: rgb(233, 234, 235);
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: 20px;
}

.stock-image {
    width: 300px;
    height: 150px;
}

.container a {
    height: 100%;
    background-color: green;
    border-radius: 5px;
    text-decoration: none;
    padding: 8px;
    color: white;
}

.container a:hover {
    border-radius: 15px;
    transition: .5s
    
}

@media screen and (max-width: 728px) {

    .stock-container {
        grid-template-columns: 1fr; 
    }
}

