{% extends "admin_base.html" %}
{% block title %}FOMO{% endblock %} 

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/css/admin_tutorial.css">
    <style>
        img {
            width: 100%;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2 class="header" >System Stocks</h2>
        <a class="btn btn-success" href=/archived_stocks>Go to Archived</a></p>
        <table class="table">
            <thead >
                <tr>
                    <th>Name</th>
                    <th>Symbol</th>
                    <th>Logo</th>
                    <th>Sector</th>
                    <th>Industry</th>
                    <th>Profile</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for row in rows %}
                        
                <tr style="text-align:center">
                    <td data-label=Name>{{row["name"]}}</td>  
                    <td data-label=Symbol>{{row["symbol"]}}</td>
                    <td data-label=Logo> <img class = "img" id="img" src="/static/{{row['logo']}}"></td>  
                    <td data-label=Sector>{{row["sector"]}}</td>
                    <td data-label=Industry>{{row["industry"]}}</td>
                    <td data-label=Profile>
                        <p>{{row["profile"]}}</p>
                    </td>
                    <td data-label=Action>
                        <a href="{{url_for('stocksupdate',id=row['id'])}}" style="text-decoration: none;">
                            <button class="edit-button">Edit<i class='bx bxs-edit-alt'></i></button>
                        </a>
                        <a href="{{url_for('stocksarchived',symbol=row['symbol'])}}" style="text-decoration: none;">
                            <button class="archive-button">Archive<i class='bx bxs-archive-in'></i></button>
                        </a>
                        <!--<a href="{{url_for('auth.delete_stocks',symbol=row['symbol'])}}" style="text-decoration: none;">
                            <button class="delete-button">Delete</button>
                        </a>-->
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div>
            <td>
                <center><a href="{{url_for('auth.add_stocks')}}" class="btn btn-success">Add Stocks</a></center>
            </td>
        </div>
    </div>
</body>
</html>
<script>
    const btnArchive= document.querySelectorAll('.archive-button');
    if(btnArchive) {
    const btnArray = Array.from(btnArchive);
    btnArray.forEach((btn) => {
        btn.addEventListener('click', (e) => {
        if(!confirm('Are you sure you want to archive it?')){
            e.preventDefault();
        }
        });
    })
    }
</script>
{% endblock %}
 