{% extends "admin_base.html" %}
{% block title %}FOMO{% endblock %} 

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/css/admin_tutorial.css">
    <style>
        img {
            width: 100%;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2 class="header" >System Tutorials</h2>
        <div class="tab">
            <a class="btn btn-success" href=/archived_tutorial>Go to Archived</a>
            <a href="{{url_for('auth.add_tutorial')}}" class="btn btn-success">Add Tutorial</a>
        </div>
        <table class="table">
            <thead >
                <tr>
                    <th>Name</th>
                    <th>Image</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for row in rows %}  
                <tr style="text-align:center">
                    <td data-label=Name>{{row["name"]}}</td>  
                    <td data-label=Image><img class = "img" id="img" src="/static/{{row['image']}}"></td>  
                    <td data-label=Action>
                        <a href="{{url_for('tutorialupdate',id=row['id'])}}" style="text-decoration: none;">
                            <button class="edit-button">Edit<i class='bx bxs-edit-alt'></i></button>
                        </a>
                        <a href="{{url_for('tutorialarchived',id=row['id'])}}" style="text-decoration: none;">
                            <button class="archive-button">Archive<i class='bx bxs-archive-in'></i></button>
                        </a>
                        <!--<a href="{{url_for('auth.delete_tutorial',id=row['id'])}}" style="text-decoration: none;">
                            <button class="delete-button">Delete</button>
                        </a>-->
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
<script>
    const btnArchive= document.querySelectorAll('.archive-button');
    if(btnArchive) {
    const btnArray = Array.from(btnArchive);
    btnArray.forEach((btn) => {
        btn.addEventListener('click', (e) => {
        if(!confirm('Are you sure you want to archive it?')){
            e.preventDefault();
        }
        });
    })
    }
</script>
{% endblock %}
 