{% extends "admin_base.html" %}
{% block title %}Term{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/css/admin_tutorial.css">
</head>
<body>
    <h2 class="header" >Archived Data</h2>
    <a class="btn btn-success" href=/admin_term>Go to Main</a></p>
    <table class="table">
        <thead >
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Image</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}         
                <tr style="text-align:center">
                    <td>{{row["name"]}}</td>  
                    <td>
                        <p>{{row["description"]}}</p>
                    </td>
                    <td> <img class = "img" id="img" src="/static/{{row['image']}}"></td>
                    <td>
                        <a href="{{url_for('termrestore',name=row['name'])}}" style="text-decoration: none;">
                            <button class="edit-button">Restore<i class='bx bxs-archive-out'></i></button>
                        </a>
                        <a href="{{url_for('auth.delete_archivedterm',name=row['name'])}}" style="text-decoration: none;">
                            <button class="delete-button">Delete<i class='bx bxs-trash-alt'></i></button>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </body>
</html>
{% endblock %}