{% extends "admin_base.html" %}
{% block title %}Stock Broker{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/css/admin_tutorial.css">
    <style>
        img {
            width: 20%;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2 class="header" >Archived Stock Broker</h2>
        <a class="btn btn-success" href=/admin_broker>Go to Main</a></p>
        <table class="table">
            <thead >
                <tr>
                    <th>Name</th>
                    <th>Logo</th>
                    <th>Pair</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for row in rows %}         
                <tr style="text-align:center">
                    <td data-label=Name>{{row["bname"]}}</td>
                    <td data-label=Logo> <img class = "img" id="img" src="/static/{{row['blogo']}}"></td>   
                    <td data-label=Pair>
                        <p>{{row["bpair"]}}</p>
                    </td> 
                    <td data-label=Action>
                        <a href="{{url_for('brokerrestore',id=row['id'])}}" style="text-decoration: none;">
                            <button class="edit-button">Restore<i class='bx bxs-archive-out'></i></button>
                        </a>
                        <a href="{{url_for('auth.delete_archivedbroker',id=row['id'])}}" style="text-decoration: none;">
                            <button class="delete-button">Delete<i class='bx bxs-trash-alt'></i></button>
                        </a>
                    </td>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
{% endblock %}
 