{% extends "base.html" %}
{% block title %}FOMO{% endblock %} 

{% block content %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/css/assets.css"></link>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="title">
                <center><h1>Stock List</h1></center>
            </div>
            <section class="stock-list">
                <select name="search_filter" id="search_filter" class="select">
                    <option value="">All</option>';
                    {% for row in rows %}
                        <option value="{{row["industry"]}}">{{row["industry"]}}</option>
                    {% endfor %}
                </select>
                <input type="hidden" name="hidden_value" id="hidden_value" />
                <div style="clear:both"></div>
                <br />
                <table class="stock-container">
                </table>
            </section>
        </div>
    </body>
    <script>
        $(document).ready(function(){
            load_data();
            function load_data(query='')
            {
                $.ajax({
                    url:"/fetchassets",
                    method:"POST",
                    data:{query:query},
                    success:function(data)
                    { 
                        $('table').html(data);
                        $('table').append(data.htmlresponse);
                    }
                })
            }
         
            $('#search_filter').change(function(){
                $('#hidden_value').val($('#search_filter').val());
                var query = $('#hidden_value').val(); 
                load_data(query);
            });
             
        });

        $(".select option").each(function() {
        $(this).siblings('[value="'+ this.value +'"]').remove();
        });
    </script>
</html>
{% endblock %}
 