{% extends "base.html" %}
{% block title %}{% for row in profile %}{{row["symbol"]}}{% endfor %}{% endblock %}

{% block content %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/css/amc.css"></link>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
        <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
        <style>
            .swiper {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                overflow: hidden;
            }

            .swiper-slide {
                text-align: center;
                font-size: 18px;
                background: #fff;

                /* Center slide text vertically */
                display: -webkit-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                -webkit-justify-content: center;
                justify-content: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                -webkit-align-items: center;
                align-items: center;
            }

        </style>
    </head>
    <body>
        <div class="container">
            {% for row in profile %}
                <a href="{{url_for('auth.assets')}}" style="text-decoration: none;">Stocks</a><i class='bx bx-chevron-right'></i>{{row["symbol"]}}
            {% endfor %}
            <div class="profile-wrapper">
                <div class="profile">
                    {% for row in profile %}
                        <div class="stock-info-container">
                            <img class= "stock-logo" src="/static/{{row['logo']}}">
                            <h1 class= "stock-symbol">{{row["symbol"]}}</h1>
                            <h2 class="stock-name">{{row["name"]}}</h2>
                        </div>
                    {% endfor %}
                    <div class="price">
                        <h1 class="current-price">${{ current_price[0].text }}</h1>
                        <h3 class="current-change">{{ current_change[0].text }} {{ current_changepercent[0].text }}</h3>
                        <p class="closed-time">&bull;{{ closed_time[0].text }}</p>
                    </div>
                    <P class="interpretation">
                        {% for row in profile %}{{row["symbol"]}}{% endfor %} to USD rate today is <b>${{ current_price[0].text }}</b> and has changed <b>{{ current_changepercent[0].text }}</b> from <b>${{ previousclose[0].text }}</b>.
                    </P>
                </div>
                <div class="info-container">

                    <div class="info-content">
                        <!--<div class="box1">
                            <div class="right-side">
                                <div class="box-topic">
                                    {% for row in profile %}
                                    {{row["symbol"]}} Price
                                    {% endfor %}
                                </div>
                                <div class="number">
                                    ${{ current_price[0].text }}
                                </div>
                            </div>
                            <i class='bx five bxs-dollar-circle' ></i>
                        </div>-->
                        <div class="box">
                            <div class="right-side">
                                <div class="box-topic">
                                    Trading Volume
                                </div>
                                <div class="number">
                                    {% for row in info %}
                                    {{row["volume"]}}
                                    {% endfor %}
                                </div>
                            </div>
                            <i class='bx bxs-bar-chart-alt-2' ></i>
                        </div>
                        <div class="box">
                            <div class="right-side">
                                <div class="box-topic">
                                    Previous Close
                                </div>
                                <div class="number">
                                    ${{ previousclose[0].text }}
                                </div>
                            </div>
                            <i class='bx two bxs-purchase-tag' ></i>
                        </div>
                        <div class="box">
                           <div class="right-side">
                                <div class="box-topic">
                                    Exchange
                                </div>
                                <div class="number">
                                    {% for row in profile %}
                                    {{row["exchange"]}}
                                    {% endfor %}
                                </div>
                           </div>
                           <i class='bx three bxs-store' ></i>
                        </div>
                        <div class="box">
                            <div class="right-side">
                                <div class="box-topic">
                                    IPO Date
                                </div>
                                <div class="number">
                                    {% for row in h %}
                                    {{row["date"]}}
                                    {% endfor %}
                                </div>
                            </div>
                            <i class='bx four bxs-offer' ></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="chart-wrapper">
                <div class="chart">
                    <div class="charts">
                        <input type="radio" id="tabfree" name="charts" checked="checked">
                        <label for="tabfree">Plotly</label>
                        <div class="tab" id="jsonFormatGraph">
                            <script class="tab">
                                function drawPlotyGraph(graph) {
                                    Plotly.plot('jsonFormatGraph' , graphs, {});
                                }
                                var graphs = {{ graphJSON | safe }};
                                drawPlotyGraph(graphs);
                            </script>
                        </div>
                        <input type="radio" id="tabsilver" name="charts">
                        <label for="tabsilver">TradingView</label>
                        <div class="tab">
                            <div id="tradingview_8ec7b"></div>
                            <div class="tradingview-widget-copyright"><a><span class="blue-text">{% for row in profile %}{{row["symbol"]}}{% endfor %} Chart</span></a></div>
                            <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
                            <script type="text/javascript">
                            new TradingView.widget({
                                "width": 943,
                                "height": 510,
                                "symbol": "{% for row in profile %}{{row["symbol"]}}{% endfor %}",
                                "interval": "D",
                                "timezone": "Etc/UTC",
                                "theme": "light",
                                "style": "1",
                                "locale": "en",
                                "toolbar_bg": "#f1f3f6",
                                "enable_publishing": false,
                                "hide_side_toolbar": false,
                                "container_id": "tradingview_8ec7b"
                            }
                                );
                                </script>
                        </div>
                        <script>
                            var winScreen = window.screen.width;
                            winScreen = winScreen - 110;
                            $('.tab').find('#tradingview_8ec7b').find("div").css("width",winScreen)
                        </script>
                    </div>
                    <hr>
                    <div class="change">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>1min</th>
                                    <th>5min</th>
                                    <th>1hr</th>
                                    <th>24hr</th>
                                    <th>7d</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td id ="1min" data-label=1min>{% for row in onemin %}{{row["finalpchange"]}}%{% endfor %}</td>
                                    <td id ="5min" data-label=5min>{% for row in fivemin %}{{row["finalpchange"]}}%{% endfor %}</td>
                                    <td id ="1hr" data-label=1hr>{% for row in hour %}{{row["finalpchange"]}}%{% endfor %}</td>
                                    <td id ="1d" data-label=24hr>{% for row in phour %}{{row["finalpchange"]}}%{% endfor %}</td>
                                    <td id ="5d" data-label=7d>{% for row in fivedays %}{{row["finalpchange"]}}%{% endfor %}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="stock-profile">
                <div class="main-who">
                    <div class="inner-who">
                        <img src="../static/asset-industry.png">
                    </div>
                    <div class="inner-who">
                        <div class="inner-who-content">
                            {% for row in profile %}
                                <h3>Sector: {{row["sector"]}}</h3>
                                <h3>Industry: {{row["industry"]}}</h3>
                                <p>{{row["profile"]}}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="seven-wrapper">
                <div class="seven">
                    <p>7 day Price History of {% for row in profile %}{{row["symbol"]}}{% endfor %} to USD</p>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>{% for row in profile %}{{row["symbol"]}}{% endfor %} to USD</th>
                                <th>24 hr Changes</th>
                                <th>Change %</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in hdata %}
                            <tr>
                                <td data-label=Date>{{row["date"]}}</td>
                                <td data-label={% for row in profile %}{{row["symbol"]}}{% endfor %}/USD>${{row["close"]}}</td>
                                <td data-label=24 hr Changes>{{row["change"]}}</td>
                                <td data-label=Change %>{{row["finalpchange"]}}%</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="info-container">
                {% for row in profile %}
                    <h2>{{row["symbol"]}} Price Prediction</h2>
                {% endfor %}
                <p style="font-style: italic;">&bull;Note: R2 Score blah blah blah...</p>
                <div class="prediction-wrapper">
                    <div class="layer1">
                        <div class="wrapper-24hr">
                            <div class="card">
                                <div class="card-header">
                                    <div class="pic">
                                        {% for row in profile %}
                                        <img src="../static/datavisual/{{row["symbol"]}}24hr.png">
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="numbers">
                                        <div class="item">
                                            <span>24 Hr.</span>
                                            Period
                                        </div>
                                        <div class="border"></div>
                                    </div>
                                    <div class="numbers">
                                        <div class="item">
                                            <span>{% for row in prediction %}${{row["prediction"]}}{% endfor %}</span>
                                            Prediction
                                        </div>
                                        <div class="border"></div>
                                    </div>
                                    <div class="numbers">
                                        <div class="item">
                                            <span>{% for row in prediction %}{{row["r2score"]}}{% endfor %}</span>
                                            R2 Score
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrapper-1mo">
                            <div class="card">
                                <div class="card-header">
                                    <div class="pic">
                                        {% for row in profile %}
                                        <img src="../static/datavisual/{{row["symbol"]}}1mo.png">
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="numbers">
                                        <div class="item">
                                            <span>1 Month</span>
                                            Period
                                        </div>
                                        <div class="border"></div>
                                    </div>
                                    <div class="numbers">
                                        <div class="item">
                                            <span>{% for row in onemopred %}${{row["prediction"]}}{% endfor %}</span>
                                            Prediction
                                        </div>
                                        <div class="border"></div>
                                    </div>
                                    <div class="numbers">
                                        <div class="item">
                                            <span>{% for row in onemopred %}{{row["r2score"]}}{% endfor %}</span>
                                            R2 Score
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrapper-3mo">
                            <div class="card">
                                <div class="card-header">
                                    <div class="pic">
                                        {% for row in profile %}
                                        <img src="../static/datavisual/{{row["symbol"]}}3mo.png">
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="numbers">
                                        <div class="item">
                                            <span>3 Months</span>
                                            Period
                                        </div>
                                        <div class="border"></div>
                                    </div>
                                    <div class="numbers">
                                        <div class="item">
                                            <span>{% for row in threemopred %}${{row["prediction"]}}{% endfor %}</span>
                                            Prediction
                                        </div>
                                        <div class="border"></div>
                                    </div>
                                    <div class="numbers">
                                        <div class="item">
                                            <span>{% for row in threemopred %}{{row["r2score"]}}{% endfor %}</span>
                                            R2 Score
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layer2">
                        <div class="wrapper-6mo">
                            <div class="card">
                                <div class="card-header">
                                    <div class="pic">
                                        {% for row in profile %}
                                        <img src="../static/datavisual/{{row["symbol"]}}6mo.png">
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="numbers">
                                        <div class="item">
                                            <span>6 Months</span>
                                            Period
                                        </div>
                                        <div class="border"></div>
                                    </div>
                                    <div class="numbers">
                                        <div class="item">
                                            <span>{% for row in sixmopred %}${{row["prediction"]}}{% endfor %}</span>
                                            Prediction
                                        </div>
                                        <div class="border"></div>
                                    </div>
                                    <div class="numbers">
                                        <div class="item">
                                            <span>{% for row in sixmopred %}{{row["r2score"]}}{% endfor %}</span>
                                            R2 Score
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrapper-1yr">
                            <div class="card">
                                <div class="card-header">
                                    <div class="pic">
                                        {% for row in profile %}
                                        <img src="../static/datavisual/{{row["symbol"]}}1yr.png">
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="numbers">
                                        <div class="item">
                                            <span>1 Year</span>
                                            Period
                                        </div>
                                        <div class="border"></div>
                                    </div>
                                    <div class="numbers">
                                        <div class="item">
                                            <span>{% for row in oneyrpred %}${{row["prediction"]}}{% endfor %}</span>
                                            Prediction
                                        </div>
                                        <div class="border"></div>
                                    </div>
                                    <div class="numbers">
                                        <div class="item">
                                            <span>{% for row in oneyrpred %}{{row["r2score"]}}{% endfor %}</span>
                                            R2 Score
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% for row in random %}
                <div class="random">
                    <a href="{{url_for('auth.assets')}}{{row["symbol"]}}" target="_blank"><img class= "stock-logo" src="/static/{{row['logo']}}" style="height: 50px; width: 50px;"></a>
                </div>
            {% endfor %}
            <div class="market" style="margin: 3rem 0 3rem 0rem;">
                <h2>Available Market</h2>
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        {% for row in market %}    
                            <div class="swiper-slide"><a href="{{row["blink"]}}" style="text-decoration: none; padding-bottom: 20px;" target="_blank" ><img class = "img" id="img" src="/static/{{row['blogo']}}"></a></div>
                        {% endfor %}
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
            <div class="interval">
                <div class="intervals">
                    <input type="radio" id="tab1" name="intervals" checked="checked">
                    <label for="tab1">1 Minute</label>
                    <div class="tab">
                        <div class="tableFixHead">
                            <table class="table" id="historicaldata">
                                <thead>
                                    <tr>
                                        <th>Date:Time</th>
                                        <th>Open</th>
                                        <th>Close</th>
                                        <th>Change</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for row in onemindata %}
                                    <tr>
                                        <td data-label=Date:Time>{{row["date"]}}</td>
                                        <td data-label=Open>{{row["open"]}}</td>
                                        <td data-label=Close>{{row["close"]}}</td>
                                        <td data-label=Change>{{row["finalpchange"]}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <input type="radio" id="tab5" name="intervals">
                    <label for="tab5">5 Minutes</label>
                    <div class="tab">
                        <div class="tableFixHead">
                            <table class="table" id="historicaldata">
                                <thead>
                                    <tr>
                                        <th>Date:Time</th>
                                        <th>Open</th>
                                        <th>Close</th>
                                        <th>Change</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for row in fivemindata %}
                                    <tr>
                                        <td data-label=Date:Time>{{row["date"]}}</td>
                                        <td data-label=Open>{{row["open"]}}</td>
                                        <td data-label=Close>{{row["close"]}}</td>
                                        <td data-label=Change>{{row["finalpchange"]}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <input type="radio" id="tab15" name="intervals">
                    <label for="tab15">15 Minutes</label>
                    <div class="tab">
                        <div class="tableFixHead">
                            <table class="table" id="historicaldata">
                                <thead>
                                    <tr>
                                        <th>Date:Time</th>
                                        <th>Open</th>
                                        <th>Close</th>
                                        <th>Change</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for row in fifteendata %}
                                    <tr>
                                        <td data-label=Date:Time>{{row["date"]}}</td>
                                        <td data-label=Open>{{row["open"]}}</td>
                                        <td data-label=Close>{{row["close"]}}</td>
                                        <td data-label=Change>{{row["finalpchange"]}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <input type="radio" id="tab30" name="intervals">
                    <label for="tab30">30 Minutes</label>
                    <div class="tab">
                        <div class="tableFixHead">
                            <table class="table" id="historicaldata">
                                <thead>
                                    <tr>
                                        <th>Date:Time</th>
                                        <th>Open</th>
                                        <th>Close</th>
                                        <th>Change</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for row in thirtymindata %}
                                    <tr>
                                        <td data-label=Date:Time>{{row["date"]}}</td>
                                        <td data-label=Open>{{row["open"]}}</td>
                                        <td data-label=Close>{{row["close"]}}</td>
                                        <td data-label=Change>{{row["finalpchange"]}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <input type="radio" id="tab1hr" name="intervals">
                    <label for="tab1hr">1 Hour</label>
                    <div class="tab">
                        <div class="tableFixHead">
                            <table class="table" id="historicaldata">
                                <thead>
                                    <tr>
                                        <th>Date:Time</th>
                                        <th>Open</th>
                                        <th>Close</th>
                                        <th>Change</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for row in onehourdata %}
                                    <tr>
                                        <td data-label=Date:Time>{{row["date"]}}</td>
                                        <td data-label=Open>{{row["open"]}}</td>
                                        <td data-label=Close>{{row["close"]}}</td>
                                        <td data-label=Change>{{row["finalpchange"]}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ideas">
            <h1>{% for row in profile %}{{row["symbol"]}}{% endfor %} Ideas</h1>
            <div class="ideas-container">
                <div class="ideas-content">
                    {% for row in blog %}
                        <div class="ideas-card">
                            <div class="user">
                                <i class='bx bxs-user-circle'></i>{{row["author"]}}
                            </div>
                            <div class="date">
                                {{row["date"]}}
                            </div>
                            <div class="idea">
                                <p>{{row["blog"]}}</p>
                                <br>
                                <a href="/blog/{{row['id']}}">Read More..</a>
                            </div>
                            <div class="ideas-img">
                                <img src="/static/community/{{row['image']}}">
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </body>
    <script src="../static/js/assetinfo.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script>
        var swiper = new Swiper(".mySwiper", {
          spaceBetween: 30,
          centeredSlides: true,
          autoplay: {
            delay: 2500,
            disableOnInteraction: false,
          },
          pagination: {
            el: ".swiper-pagination",
            clickable: true,
          },
          navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
          },
        });
    </script>
</html>
{% endblock %}