{% extends "base.html" %} {% block title %}Calculator{% endblock %}

{% block content %}
<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="/static/css/calculator.css"></link>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
  </head>
  <body>
    <div class="container">
      <div class="calcu-wrapper">
        <div class="wrapper">
          <header>Currency Converter</header>
          <form action="#">
            <div class="amount1">
              <p>Enter Amount</p>
              <input type="text" value="">
            </div>
            <div class="drop-list">
              <div class="from">
                <p>From</p>
                <div class="select-box">
                  <img src="https://flagcdn.com/48x36/us.png" alt="flag">
                  <select></select>
                </div>
              </div>
              <div class="icon"><i class="fas fa-exchange-alt"></i></div>
              <div class="to">
                <p>To</p>
                <div class="select-box">
                  <img src="https://flagcdn.com/48x36/ph.png" alt="flag">
                  <select></select>
                </div>
              </div>
            </div>
            <br>
            <span class="exchange-rate"></span>
            <button>Convert</button>
          </form>
        </div>
        <!------------------------------------------------------------------------------------------>
        <div class = wrapper1>
          <div class="content">
            <div>
              <!--<canvas id="myChart"></canvas>-->
            </div>
            <div>
              <form>
                <div class="amount">
                  <header>Investment Calculator</header>
                  <label>Investment Amount</label><input  onchange="updateChart()" class="input" id="investment_amount" type = "number" min="100" placeholder="Min of 100" value="">
                  <br>
                  <label>Interest Rate in %</label><input onchange="updateChart()" class="input" id="interest_rate" type = "number" placeholder="Enter Interest Rate" value=""><br>
                  <label>Investmen Duration (Years)</label><input onchange="updateChart()" class="input" id="years" type = "number" placeholder="Enter Duration " step="" value=""><br>
                </div>
              </form>
              <table>
                <tr>
                    <td>Investment Amount($)</td> 
                    <td><span id="cellinvestment"></span></td>
                </tr>
                <tr>
                    <td>Interest Rate in %</td>
                    <td><span id="cellrate"></span></td>
                </tr>
                <tr>
                    <td>Duration in Years</td>
                    <td><span id="cellyear"></span></td>
                </tr>
                <tr>
                    <td>Profit Amount($)</td>
                    <td><span id="cellprofit"></span></td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script type="text/javascript" src="../static/js/country-list.js"></script>
  <script  type="text/javascript" src="../static/js/currency_converter.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script type="text/javascript" src="../static/js/calculator.js"></script>
</html>

{% endblock %}