{% extends "base.html" %}
{% block title %}FOMO{% endblock %} 

{% block content %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/css/handbook.css"></link>
    </head>
    <body>
        <div class="container">
            <center><h1>Handbook Section</h1></center>
            <di class="main-offer">
                <div class="inner-offer">
                    <img src="../static/tutorial.png" alt="">
                    <h2>Tutorials</h2>
                    <p>
                        "In this section, the system provides a opportunity to learn about some basic stock market lecturers."
                    </p>
                    <a id="more" href="{{url_for('auth.tutorial')}}" style="text-decoration: none;">Learn more</a>
                </div>
                <div class="inner-offer">
                    <img src="../static/candlestick.png" alt="">
                    <h2>Candlestick</h2>
                    <p>
                        "In this section, you may know the type of candlestick that you may see in the stock market."
                    </p>
                    <a id="more" href="{{url_for('auth.candlestick')}}" style="text-decoration: none;">Learn more</a>
                </div>
                <div class="inner-offer">
                    <img src="../static/pattern.png" alt="">
                    <h2>Candlestick Patterns</h2>
                    <p>
                        "In this section, you have the opportunity to know the candlesticks patterns in the stock market."
                    </p>
                    <a id="more" href="{{url_for('auth.pattern')}}" style="text-decoration: none;">Learn more</a>
                </div>
                <div class="inner-offer">
                    <img src="../static/terms.png" alt="">
                   <h2>Stock Market Terms</h2>
                   <p>
                        "In this section, if you're not familiar with the stock market terms, don't worry; we got you. So, dive in to know it."
                    </p>
                    <a id="more" href="{{url_for('auth.terms')}}" style="text-decoration: none;">Learn more</a>
                </div>
            </di>
        </div>
    </body>
</html>
{% endblock %}
 