{% extends "base.html" %}
{% block title %}User{% endblock %}

{% block content %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/css/update_profile.css">
    </head>
    <body>
        <div class="container">
            <div class="content">
                {% for row in user %}
                <p>Hi {{row["username"]}}!</p>
                <br>
                <h2>Account Summary</h2>
                <div class="info">
                    Email: {{row["email"]}}
                    <br>
                    Username: {{row["username"]}}
                    <div class="box">
                        <a class="button" href="#divOne" style="text-decoration: none;">Change Password</a>
                    </div>
                </div>
                {% endfor %}
                <!---->
                <div class="overlay" id="divOne">
                    <div class="wrapper">
                        <h2>Change Password</h2><a class="close" href="#">&times;</a>
                        <div class="content">
                            <div class="container">
                                <form method="post" action="/changepass">
                                    {% for row in user %}
                                    <input type="text" name="email" value="{{row["email"]}}" hidden></input>
                                    {% endfor %}
                                    <label >New Password</label>
                                    <input type="password" class="password" name="password"></input>
                                    <br>
                                    <label>Confirm New Password</label>
                                    <input type="password" class="password1" name="password1"></input>
                                    <center><input type="submit" class="btn btn-success btn-block" value="Submit" onclick="notifySuccess()"></center>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!---->
                <hr>
                <div class="cont">
                    <div class="con">
                        {% for row in blog %}
                        <div class="card">
                        
                            <div class="tag">
                                {{row["category"]}}
                            </div>
                            <div class="date">
                                &bull;{{row["date"]}}
                            </div>
                            <div class="user">
                                {{row["author"]}}
                            </div>
                            <div class="idea">
                                {{row["blog"]}}
                                <br>
                            </div>
                            <div class="img">
                                <img src="/static/community/{{row['image']}}">
                            </div>
                            <div class="action">
                                <a href="{{url_for('editpost',id=row['id'])}}" style="text-decoration: none;">Edit</a>
                                <a href="{{url_for('auth.delete_blog',id=row['id'])}}" style="text-decoration: none;">Delete</a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
{% endblock %}