{% extends "base.html" %}
{% block title %}Community{% endblock %}

{% block content %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/css/update_tutorial.css">
    </head>
    <body>
        <div class="update-form">
            <div class="container">
                <div class="main">
                    <div class="content">
                        <h2>Edit Post</h2>
                        <form method="POST" enctype="multipart/form-data" form action="/postupdate/{{data['id']}}">
                            <label>Caption</label>
                            <input type="text" name="blog" value="{{data['blog']}}">
                            <label>Image</label>
                            <input type="file" enctype="multipart/form-data" name="image"  value="{{data['image']}}"></input>
                            <input type="submit" class="btn btn-success btn-block" value="Submit">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
{% endblock %}



 