{% extends "admin_base.html" %}
{% block title %}Pattern{% endblock %}

{% block content %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/css/update_tutorial.css">
    </head>
    <body>
        <div class="update-form">
            <div class="container">
                <div class="main">
                    <div class="content">
                        <h2>Update Patterns</h2>
                        <form method="POST" enctype="multipart/form-data" form action="/patternupdate/{{data['id']}}">
                            <label>Name</label>
                            <input type="text" name="name" value="{{data['name']}}">
                            <label>Description</label>
                            <br>
                            <textarea type="text" class="textarea" name="description">{{data['description']}}</textarea>
                            <br>
                            <label>Image</label>
                            <input type="file" enctype="multipart/form-data" name="image"  value="{{data['image']}}"></input>
                            <input type="submit" class="btn btn-success btn-block" value="Submit">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
{% endblock %}



 