{% extends "base.html" %}
{% block title %}FOMO{% endblock %} 

{% block content %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/css/home.css"></link>
    </head>
    <body>
      <div class="container">
        <header>
          <div class="ticker">
            <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
              {
              "symbols": [
                {
                  "description": "",
                  "proName": "NYSE:BABA"
                },
                {
                  "description": "",
                  "proName": "NYSE:GME"
                },
                {
                  "description": "",
                  "proName": "NYSE:DIS"
                },
                {
                  "description": "",
                  "proName": "NYSE:RBLX"
                },
                {
                  "description": "",
                  "proName": "NYSE:TWTR"
                },
                {
                  "description": "",
                  "proName": "NYSE:SHOP"
                }
              ],
              "showSymbolLogo": true,
              "colorTheme": "light",
              "isTransparent": true,
              "largeChartUrl": "http://127.0.0.1:5000/assets",
              "displayMode": "adaptive",
              "locale": "en"
            }
            </script>
          </div>
        </header>
        <div class="news">
          <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-timeline.js" async>
            {
            "feedMode": "market",
            "market": "stock",
            "colorTheme": "light",
            "isTransparent": true,
            "displayMode": "regular",
            "width": "700",
            "height": "640",
            "locale": "en"
            }
            </script>
        </div>
        <div class="today">
          <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-hotlists.js" async>
            
            {
            "colorTheme": "light",
            "dateRange": "12M",
            "exchange": "US",
            "showChart": true,
            "locale": "en",
            "largeChartUrl": "",
            "isTransparent": true,
            "showSymbolLogo": true,
            "showFloatingTooltip": false,
            "width": "700",
            "height": "695",
            "plotLineColorGrowing": "rgba(41, 98, 255, 1)",
            "plotLineColorFalling": "rgba(41, 98, 255, 1)",
            "gridLineColor": "rgba(240, 243, 250, 0)",
            "scaleFontColor": "rgba(120, 123, 134, 1)",
            "belowLineFillColorGrowing": "rgba(41, 98, 255, 0.12)",
            "belowLineFillColorFalling": "rgba(41, 98, 255, 0.12)",
            "belowLineFillColorGrowingBottom": "rgba(41, 98, 255, 0)",
            "belowLineFillColorFallingBottom": "rgba(41, 98, 255, 0)",
            "symbolActiveColor": "rgba(41, 98, 255, 0.12)"
            }
            </script>
        </div>
      </div>
    </body>
</html>
{% endblock %}
